<header class="main-header-container">
    <div>
        <img src="../../assets/logo/Gadgets Store Logo.png" width=250 height="250" class="logo-section"/>
    </div>
    <div class="middle-header-section">
            <h1 class="title">Gadgets Store</h1>
        <div class="search-container">
            <form class="search-form">
                <input type="text" class="search-input" placeholder="Search for products">
                <select name="Categories" class="select-category">
                    <option value="all categories" selected>--All categories--</option>
                </select>
            </form>
            <fa-icon [icon]="faMagnifyingGlass" class="search-icon"></fa-icon>
        </div>
    </div>
    <div class="icon-container">
        <fa-icon [icon]="faUser" class="icons"></fa-icon>
        <fa-icon [icon]="faCartShopping" class="icons"></fa-icon>
    </div>
</header>