.product{
    width: 270px;
    /* Suppose an image is to big */
    overflow: hidden;
    margin: 15px 10px 0 0;
    text-align: center;
    border: 2px solid #f37e19;
    border-radius: 15px;
    box-shadow: 0 0 7px rgba(0,0,0,0.8) ;

    .product-image{
        width: 250px;
        margin: 20px auto;
    }

    .product-image img{
        transition: 0.4s;
    }

    .product-image img:hover{
        transform: scale(1.1)
    }

    .product-info h4{
        font-size: 18px;
        padding: 0 25px;
        margin-bottom: 10px;
    }

    .btn{
        width: 100%;
    }

    .btn button{
        width: inherit;
        padding:10px;
        background: crimson;
        border: 1px solid grey;
        outline: none;
        color: white;
        cursor: pointer;
        font-size: 20px;
        border-radius: 0 0 15px;
    }
}