.product {
  width: 200px;
  height: 250px;
  overflow: hidden;
  margin: 15px 10px 0 0;
  border: 0.5px solid #f37e19;
  border-radius: 15px;
  
  /* :hover{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
  } */

  .product-name p {
    color: black;
    font-size: smaller;
    padding-left: 12px;
    font-weight: bold;
  }

  .product-image {
    width: 170px; 
    height: 150px;
    margin: 0 auto;
  }

  .product-image img {
    transition: 0.4s;
    border-radius: 10px;
  }

  .product-image img:hover {
    transform: scale(1.1);
  }

  .product-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .product-info p {
    padding: 0 15px;
  }

  /*.btn {
    width: 100%;
  }

  .btn button {
    width: inherit;
    padding: 10px;
    background: crimson;
    border: 1px solid grey;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 0 0 15px;
  } */
}
