@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.main-products-section{
    margin: 1.75rem;
}

.category-header{
    font-size: 1.25rem;
    margin-bottom: 3px;
}

.category-link{
    text-decoration: none;
    color: black;
    background-color: #f5f5dc;
    padding: 10px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
}

.product-container{  
 display: flex;
 overflow-x: auto;
 align-items: center;
 width: 100%;
 height: 100%;
 padding-left: 10px;
}

.product-container::-webkit-scrollbar{
    width: 0
}
